trigger:
- main
- master

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'

- script: npm install
  displayName: Install dependencies

- script: npm test
  displayName: Run tests

- script: |
    echo "Deploying application..."
  displayName: Deploy step
